body {
    overflow: hidden;
}

.NotFound__hero {
    height: 100vh;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
  }

.NotFound__main {
    width: 100vh;
    height: 100vh;
    display: block;
    margin: auto;
}

.NotFound__main-img {
    width: 550px;
}